@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root { */
/*   --background: #ffffff; */
/*   --foreground: #171717; */
/* } */
/**/
/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0a0a0a; */
/*     --foreground: #ededed; */
/*   } */
/* } */
/**/
/* body { */
/*   color: var(--foreground); */
/*   background: var(--background); */
/*   font-family: Arial, Helvetica, sans-serif; */
/* } */

@layer base {
  :root {
    /* --background: 240 10% 3.9%; */
    --background: var(--black);
    /* --foreground: 0 0% 98%; */
    --foreground: var(--white);
    --card: var(--black);
    --card-foreground: var(--white);
    --popover: var(--black);
    --popover-foreground: var(--white);
    --primary: var(--white);
    --primary-foreground: var(--pure-white);
    --secondary: var(--surface_0);
    --secondary-foreground: var(--white);
    --muted: var(--surface_0);
    --muted-foreground: var(--overlay_0);
    --accent: var(--surface_0);
    --accent-foreground: var(--white);
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: var(--white);
    --border: var(--surface_0);
    --input: var(--surface_0);
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: var(--black);
    --sidebar-foreground: var(--white);
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 240 5.9% 10%;
    --sidebar-accent: var(--white);
    --sidebar-accent-foreground: var(--overlay_0);
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
